doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../sass/main.css")
    body 
        main 
            section.main-section
                div.main-section__card-items
                    div.card-items__image-card
                        img(src="../assets/img/Rectangle 1.png", alt="")
                    div.card-items__title
                        div.card-items__subtitle
                            h2 Trinity 43rd Avenue LLC
                        div.card-items__main-title
                            div.card-items__header-title
                                h1 Thanks, 
                                span John!
                                p Here is your receipt for your rent payment for the month of July. Below are the details. 
                            div.card-items__date-title
                                div 
                                    h4 Date
                                    p June 30, 2020
                                div 
                                    h4 Total Payment
                                    p $1200 USD
                        div.card-items__last-title
                            small Questions? Contact us at (206) 121-456 or email us at trinityapartment@43st.com 